

.ui.black.button {
    margin-right: 2em;
    width: 150px;
    border: 2px solid rgb(32, 127, 254);

}


.viewBuyerApp{
    background-image: url(/../../images/livingroom.jpg);
    background-size: cover;
    height: 800px;
    max-height: 800px;
}

.ui.container {

}

.buyer-content{
    border: 1px solid white;
    background-color: black;
    opacity: .75;
    color: white;
    padding: 5px;
    margin: 1em;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-content: space-around;*/
    border: 1px solid black;
    border-radius: 10px;

}

h1 {
    color: white;
    margin-left: 20px;
}




.ShowingLog{
    margin-top: 50px;
    margin-top: 4em;
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

h2.propertylogtitle {
    /*background-color: rgb(7, 233, 227);*/
    background-color: rgb(4, 125, 107);
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 30px;
}

.loggedin-footer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    opacity: .80;
    color: black;
    position:absolute;
    bottom:0;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
