html, body {
    height: 100%;
}

body {
    background-image: url("/../../images/downtown.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.App {
    flex: 1 0 auto;
    /*height: 100%;*/
}


.App-logo-header {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 55px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 25px;
    width: 30px;
    /*margin-left: 30px;*/
    /*margin-right: 20px;*/
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-container {
    display: flex;
    flex-direction: column;
}

.splash-header {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    opacity: .80;
    color: white;
    height: 90px;
}

.splash-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px;
}

.agent-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    opacity: .90;
    color: black;
    height: 90px;
}

.ui.inverted.button {
    margin-right: 20px;
    opacity: .80;
    width: 150px;
    color: #FFF;
    text-shadow: none!important;
    box-sizing: none !important;
}


/*HOMEPAGE*/

.home-body {
    /*display: flex;*/
    border: .5px solid white;
    background-color: black;
    opacity: .60;
    color: white;
    padding: 1em;
    margin: 2em;
    height: 495px;
}

.taglines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blue;
    /*color: rgb(7, 233, 227);*/
}

.pageHeaderTitle {
    color: rgb(7, 233, 227);
    
}

.splash-state {
    font-size: 50px;
    font-weight: bold;
}

/*.contentBox {
    margin-left: 5em;
    /*border: 1px solid black;
}





/*ABOUT PAGE CSS*/

.about-page-body {
    border: .5px solid white;
    background-color: black;
    opacity: .60;
    color: white;
    padding: 1em;
    margin: 2em;
    height: 495px;
}


.about-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.about-header {
    margin-bottom: 1rem;
    font-family: bold;
    color: white;
    background-color: black;
    padding: 5px;
    display: flex;
}

div.three.column.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}


/*DEVELOPMENT PAGE*/

.development-body {
    border: 1px solid white;
    background-color: black;
    opacity: .60;
    color: white;
    padding: 1em;
    margin: 2em;
    height: 495px;
}

.development-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*CONTACT PAGE*/

.contact-body {
    border: 1px solid white;
    background-color: black;
    opacity: .60;
    color: white;
    padding: 1em;
    margin: 2em;
    height: 495px;
}

.myContactInfo {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    margin-bottom: 3em;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui.modal>.icon:first-child+*, .ui.modal>:first-child:not(.icon) {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    background-color: rgb(228, 228, 228);
    border: 5px solid rgb(9, 210, 230);
    box-shadow: 10px -10px teal;
}

form.ui.form {
    /*border: 1px solid black;*/
    color: black;
    font-stretch: expanded;
    font-weight: bold;
    padding: 5px;
}

.login-form-header {
    font-size: 25px;
    font-weight: bold;
    text-decoration-color: black;
    width: 100%;
}

button.ui.button {
    color: white;
    font-weight: bold;
    width: 125px;
    background-color: Black;
    opacity: .85;
}


/*FOOTER */

.splash-footer {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    opacity: .80;
    color: white;
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-family: sans-serif;
}


/*AGENT VIEW*/


/*
.viewBuyerApp{
    background-color: black;
}*/


li {
    padding: 1em;
    font-weight: bold;
}


.g46logo {
    height: 50px;
}


.signature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-between;
    margin-top: 25em;
}
