.App {
    /*padding: 1px;*/
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.splash {
    background-image: url("/../../images/downtown.jpg");
    background-size: cover;
    height: 820px;
}

.splash-container{
    display: flex;
    flex-direction: column;
}

.splash-header {

}

.splash-body {
    align-items: center;
}

.splash-footer {

}

.contentBox {
    margin-left: 5em;
    /*border: 1px solid black;*/

}
