
html, body {
    height: 100%;
}
body {
    background-image: url("/../../images/downtown.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.App {

    flex: 1 0 auto;
    /*height: 100%;*/
}

.App-logo-header {
  animation: App-logo-spin infinite 20s linear;
  height: 35px;
  margin-left: 10px;
  margin-right: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
  margin-left: 10px;
  margin-right: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.splash-container{
    display: flex;
    flex-direction: column;
}

.splash-header {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    opacity: .80;
    color: white;
    height: 100px;
}

.splash-title {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    flex-wrap: nowrap;
    /*margin-right: 300px;*/
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px;
}

.ui.inverted.button {
    margin-right: 10px;
    /*box-shadow: 0 0 0 2px #FFF inset!important;*/
    /*background: rgb(1, 1, 1);*/
    opacity: .80;
    width: 150px;
    color: #FFF;
    text-shadow: none!important;
    box-sizing: none !important;

}

.splash-body {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    background-color: black;
    opacity: .70;
    color: white;
    padding: 2em;
    margin: 3em;
    height: 650px;

}


.splash-state {
    font-size: 50px;
    font-weight: bold;

}
.splash-footer {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    opacity: .80;
    color: white;
    position:absolute;
    bottom:0;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;

}

.contentBox {
    margin-left: 5em;
    /*border: 1px solid black;*/

}
